html,
body,
#app {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    background: transparent;
}

#app {
    margin: 0;
}

#app .CodeMirror {
    height: auto;
}

.img.placeholder {
    opacity: 0.5;
}

.img,
img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in;
}

.saveButton {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.saveButton {
    font-size: 14px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 4px;
}

.saveButton:hover {
    background: #67c5ff;
    color: white;
}

/* CodeMirror */
.CodeMirror {
    font-size: 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cm-s-default .cm-trailing-space-a:before,
.cm-s-default .cm-trailing-space-b:before {
    position: absolute;
    content: "\00B7";
    color: #777;
}

.cm-s-default .cm-trailing-space-new-line:before {
    position: absolute;
    content: "\21B5";
    color: #777;
}
